.card:hover {
    background-color: #f3f3f3;
    cursor: pointer;
}

.campground-link {
    color: black;
    text-decoration: none;
}

.campground-link:hover {
    color: black;
    text-decoration: none;
}

.reviewLink{
    text-decoration: none;
}

.reviewLink:hover{
    text-decoration: underline;
}